*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

input {
  font: inherit;
}

main {
  min-height: 100vh;
  /* display: flex;
  justify-content: center; */
  background: lightskyblue;
}

.container {
  max-width: 65rem;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  background: lightsalmon;
}

.flex {
  display: flex;
  gap: 2rem;
  align-items: center;
}